.container {
  width: 500px;
  background-color: rgba(204, 204, 204, 0.713);
  box-shadow: 10px 10px 0px 5px #0080aaa3;
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    position: relative;
    top: -20px;
  }

  .form_container {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}
