.container {
  width: 600px;
  background-color: rgba(204, 204, 204, 0.713);
  box-shadow: 10px 10px 0px 5px #0080aaa3;
  padding: 5rem 2rem;

  h1 {
    font-weight: 600;
    position: relative;
    top: -20px;
  }

  p {
    font-size: large;
  }
}
