.navbar_container {
  display: flex;
  justify-content: center;
  height: 8vh;

  .nav_links {
    display: flex;
    justify-content: space-evenly;

    h6 {
      cursor: pointer;
      padding: 1rem;

      &:hover {
        background-color: #0096c7;
      }
    }
  }
}
