.container {
  width: 600px;
  background-color: rgba(204, 204, 204, 0.713);
  box-shadow: 10px 10px 0px 5px #0080aaa3;
  padding: 5rem 2rem;

  h4 {
    text-align: center;
    position: relative;
    top: -20px;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 300px;
  }

  select {
    width: 40px;
    margin-left: 20px;
  }
  .form_left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .form_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
