* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

html,
body {
  background-image: url("./bg/website-backgrounds.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
